.message-input-container {
    display: flex;
    flex-direction: column;
    background-color: #3a3a3a;
    border-top: 1px solid #4a4a4a;
}

.replying-indicator {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #4a4a4a;
    color: #fff;
    border-radius: 20px 20px 0 0;

    .cancel-reply-btn {
        background: none;
        border: none;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        margin-left: auto;
        padding: 0 10px;
    }
}

.message-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #3a3a3a;

    input {
        flex: 1;
        padding: 10px;
        border-radius: 20px;
        border: none;
        background-color: #4a4a4a;
        color: #fff;
    }

    button {
        background: none;
        border: none;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    .send-file-btn {
        background: #8a8f90;
        border: none;
        color: #fff;
        font-size: 10px;
        cursor: pointer;
    }

    .file-input {
        background: none;
        border: none;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        margin-right: 10px;
    }
}

