.group-info-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;

    .modal-content {
        text-align: center;
    }
    
    .modal-actions {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }
    
    button {
        padding: 10px;
        background-color: #ac2929;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .button-invite {
        background-color: #4CAF50;
    }
    
    button:last-child {
        background-color: #8a8f90;
    }
    
    button:hover {
        opacity: 0.9;
    }
}


