.sidebar-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #3a3a3a;
    padding: 20px;
    width: 25%;
    border-radius: 8px;

    .notifications-section {
        background-color: #4a4a4a;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 20px;
        height: 55%;

        h3 {
            margin: 0;
            margin-bottom: 10px;
            color: #fff;
        }

        .clear-all-btn {
            background-color: #ac2929;
            color: #fff;
            border: none;
            padding: 5px 10px;
            border-radius: 4px;
            cursor: pointer;
            margin-bottom: 15px;
            transition: background-color 0.3s;

            &:hover {
                background-color: #cc0000;
            }
        }

        .notifications-list {
            max-height: 300px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
        }

        .notification-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #5a5a5a;
            padding: 5px 10px;
            border-radius: 4px;
            margin-bottom: 5px;
            font-size: 14px;
            color: #fff;

            button {
                background: none;
                border: none;
                color: #ff0000;
                cursor: pointer;
                font-size: 16px;
            }
        }
    }

    .profile-logout-section {
        background-color: #4a4a4a;
        border-radius: 8px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        height: 45%;

        button {
            background-color: #565656;
            color: #fff;
            border: none;
            padding: 5px 20px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #6c6c6c;
            }
        }

        .delete-account-btn {
            background-color: #ac2929;
            color: #fff;
            border: none;
            padding: 5px 20px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-top: 10px;
        
            &:hover {
                background-color: #ff0000;
            }
        }
        

        .profile-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            background-color: #4a4a4a;
            border-radius: 8px;
            padding: 5px;
    
            .avatar {
                position: relative;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #2d2d2d;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                font-weight: bold;
                
                .status-indicator {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    border: 2px solid #2d2d2d; /* Asegúrate de que coincida con el color de fondo del avatar */
                }
        
                &.available .status-indicator {
                    background-color: #00ff00; /* Verde */
                }
        
                &.away .status-indicator {
                    background-color: #ffa500; /* Naranja */
                }
        
                &.xa .status-indicator {
                    background-color: #ff0000; /* Rojo */
                }
        
                &.dnd .status-indicator {
                    background-color: #ff0000; /* Rojo */
                    border: 2px solid white; /* Línea horizontal blanca */
                }
        
                &.offline .status-indicator {
                    background-color: #888888; /* Gris */
                }
            }
    
            select, input {
                margin-top: 5px;
                width: 100%;
                padding: 5px;
                border-radius: 4px;
                border: none;
                background-color: #565656;
                color: #fff;
    
                &::placeholder {
                    color: #bbb;
                }
            }
        }
    }
}

